In [53]:

import pandas
data = pandas.read_csv('realestate.csv')
data.tail(15)

     Unnamed: 0  Bedrooms  Bathrooms  Size    Price
766         766         5          3  1671   199900
767         767         4          3  2800   349900
768         768         2          2   900    99000
769         769         4          3  2507   409000
770         770         2          2  1440   339000
771         771         3          3  2238   595000
772         772         3          3  2725   849500
773         773         2          3  1772   399000
774         774         4          2  1947   399000
775         775         3          2  1720   525000
776         776         3          3  1605   319900
777         777         3          2  1877   495000
778         778         3          2  1104   372000
779         779         3          2  1975   589000
780         780         3          3  2392  1100000

In [54]:
array = data.values
X = array[:,1:4] #bedrooms, bathrooms, size
Y = array[:,4] #price

In [55]:

from sklearn import *
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y,
test_size = 0.3, random_state=42)

In [56]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, Y_train)

LinearRegression()

In [57]:
predictions = model.predict(X_test)
predictions, Y_test

(array([ 219443.09193676,  263015.05683691,  351172.28814652,
        1057728.41254533,  462582.659413  , 1030413.76055014,
         226873.96967167,  161347.13873655,  339297.64244745,
         219443.09193676,  226873.96967167,  971296.19983954,
         273103.5831739 ,  936417.20384122,  683526.87719776,
         128245.95609923,  267699.3084576 ,  199177.06175064,
         380895.79908616,  928693.04769262,  442654.39639665,
         187310.72205266,  370762.7839931 ,   77287.60222024,
         172493.45533892,  501523.16744964,  -74796.60168779,
        1455202.65860255,  295725.6775473 ,  290659.17000077,
        1130633.32645818,  493657.23903172,   91099.87342577,
         463978.21684815,  338630.41410901,  174857.8255273 ,
         446076.55685041,  125845.40315587,  236624.72883888,
         295440.7051347 ,  168395.76054562,  421765.62662817,
         232278.24438797, 1047924.85862094,  928693.04769262,
         376789.79829177,  431560.87455146,  503843.04888195,
         191452.90560204,  554117.5624203 ,  278206.2734754 ,
         363331.90625819,  353918.91426075,  441693.88964452,
         196137.15722272,  751080.31115149,  265041.65985552,
         523380.74997136,  362318.60474889,  259299.61796946,
        1003677.35938125,  408877.67941979,  254961.43951964,
         265717.19419506,  328204.12060226,  335634.99833717,
         751373.58956518,  175541.66586793,  134663.53232483,
          48541.21003493,  184990.84062036,  453462.94582925,
         105286.09455606,  341714.807393  ,  251486.4843087 ,
         322506.56747226,  256215.22468546,  241780.21389756,
         159320.53571794,  360923.04731374,  199177.06175064,
         431641.54606251,  294427.40362539,  284969.92287187,
         166421.95228418,  226873.96967167,  159328.84171904,
         254570.8775927 ,  251148.71713894,   91767.10176422,
         435899.05300128,  334951.15799653,  279565.64815557,
         378869.19606755,  202643.71096048,  649750.1602209 ,
         273103.5831739 ,  615973.44324403,  388656.13798975,
         598417.85641716,  193097.2526948 ,  275797.41453095,
         408210.45108135,  306249.2545673 ,  280916.71683465,
         258961.85079969,  152609.68107864,  210998.91269254,
          78646.97690041,  344123.66633746,  296071.75071816,
         400815.75610142,  449800.30171896,  274543.62936512,
         238659.63785859,  462635.45417017,  526473.44925644,
         539549.08536418,  152565.19232257,  224517.90548438,
         613955.14622652,  101944.60561335,  113730.27380027,
         655447.71335089,  328204.12060226,  575396.89411572,
         404877.26813974,  169791.31798077,  125543.81874108,
         205256.87080648,  543984.54732724,  474404.5103549 ,
         251575.46182085,  277539.04513696,  344701.91716375,
         409553.21375933,  253895.34325316,  341324.24546606,
         347456.84927907,  761888.86058408,  218429.79042745,
         377224.84897478,   63101.38108996,   87420.6173133 ,
         101232.88851883,  370042.76089749,  203905.8021274 ,
         526802.91042512,  259975.15230899,  176208.89420637,
         542295.7114784 ,  464662.05718878,  289698.66324863,
         284294.38853234,  193097.2526948 ,  418041.88175962,
         453853.50775619, 1188333.37048095,  297760.58656701,
         163755.99768101,  186297.42054336,  317777.8270955 ,
         427792.64092683, 1700588.31412718,  352185.58965583,
         483906.4798645 ,  187692.97797851,  577761.26430411,
         224509.59948329,  430209.80587238,  530091.60461065,
         267406.0300439 ,  281592.25117419,  395366.99262904,
         146200.41085414,  303209.35003938,  252544.27457408,
         753782.44850964,   92833.19803069,  249504.37004617,
         654185.62218396,  303591.60596522,  400824.06210251,
         342434.83048861,  252162.01864824,  116387.92240235,
         378869.19606755,  371767.77950131,  154591.79534118,
         413365.93614003,  420023.99602215,  667305.74704777,
         494385.56812842,  932079.0253914 ,  797977.15299216,
          51918.88173261,  220118.6262763 ,  220118.6262763 ,
         353492.16957883,  319128.89577458,  152565.19232257,
         495683.84205033,  366416.29954219,  272419.74283326,
         122121.65828732,  600053.89750883,  553059.77215492,
         232322.73314404,  762902.16209339,   80966.85833272,
         478164.43797843,  230251.64136935,  290374.19758817,
         363669.67342796,  420796.81387494,  150583.07806003,
         431641.54606251,  297760.58656701,   88779.99199347,
         183595.28318521,  125970.563423  ,  233629.31306704,
         722325.61296508,  192421.71835527,  400726.77858927,
         341083.76180954,  543984.54732724,  682806.85410215,
         505808.55114229,  364292.41301033,  281974.50710003,
         209318.3828448 ,  361980.83757912,  260597.89189136,
         105668.3504819 ]),
 array([ 260000,  199900,  531905,  999000,  245000,  829900,  195000,
         222600,  209000,  375000,  165000, 1195000,  225000,  774800,
         349900,  359000,  279900,  195000,  299000,  750000,  239000,
         150000,  259900,  158900,  200000,  325000,   67500, 1249000,
         374800,  415000,  879000,  359900,  164900,  364000,   26500,
         205000,  250000,  265000,  214000,  227900,   65900,  495000,
         294900,  995000,  820000,  319900,  309000,  499000,  245000,
        1290000,  309900,  249500,  375000,  509000,  299900,  360000,
         260000,  240000,  549000,  278000, 1799000,  279000,  349900,
         389000,  219000,  350000,  641900,  199000,  145000,   54500,
         249000,  525000,  199000,  259000,  222900,  429000,  154000,
         379000,  174900,  299000,  255000,  425000,  177000,  189900,
         199000,  179000,  325000,  475000,  289000,  125000,  269000,
         299000,  225000,  350000,  219500,  830000,  459900,  550000,
         230000,  285000,  220000,  125000,  774000,  385000,  275000,
         350000,  329700,  189900,  149900,  185000,  274900,  249000,
         409000,  599000,  119000,  389000,  625000,   99999,  140000,
         355000,  402500,  193450,  540000,  899000,  175000,  648000,
         469000,  219000,  249999,  435000,  449000,  490000,  159000,
         215000,  529000,  355000,  289900,  325000,  304900,  545000,
         211500,  695000,  210000,  256000,  310000,  695000,  264900,
         235000,  179000,  169900,  575000,  315000,  495000,  350000,
         299900,  310000,  179900,  699000,  839000,  199000,  325000,
         294900,  440000,  245000,  229900,  359000,  199500,  875000,
         499000,  419000,  399000,  329000,  479000,  219900,  191100,
         199900,  197000,  899000,  129900,  289000,  349000,  649000,
         179000,  320000,  105000,   99000,  595000,  275000,  179999,
         399000,  290000,  310000,  795000,  650000,  645000,  519500,
         170000,  250000,  205000,  235000,  214900,  489900,  337000,
         335900,  389000,  899000,  825000,  192900,  449900,  249900,
         409000,  299000,  163999,  309900,  369900,  170500,  399000,
         779000,  264450,  170000,  239800,  275000,  559000,  229900,
         385000,  339900,  789000,  299900,  409900,  400000,  215000,
         165000,  286500,  250000,  134900]))

In [58]:
from sklearn.metrics import r2_score
print('Accuracy',r2_score (predictions, Y_test))

Accuracy 0.32372616964935363

In [59]:
bedroom = int(input("How many Bedrooms"))
bathroom = int(input("How many Bathrooms"))
size = int(input("which Size"))

expense = [[bedroom, bathroom, size]] #the person budget
outcome = model.predict(expense)
print('you will buy', outcome)

you will buy [308881.98516608]