In [32]:
# classification
# bank loan

import pandas
data = pandas.read_csv('banking.csv')
data

,Unnamed: 0,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Loan_Status
0,1,LP001003,4583,1508.0,128.0,360.0,N
1,2,LP001005,3000,0.0,66.0,360.0,Y
2,3,LP001006,2583,2358.0,120.0,360.0,Y
3,4,LP001008,6000,0.0,141.0,360.0,Y
4,5,LP001011,5417,4196.0,267.0,360.0,Y
...,...,...,...,...,...,...,...
573,609,LP002978,2900,0.0,71.0,360.0,Y
574,610,LP002979,4106,0.0,40.0,180.0,Y
575,611,LP002983,8072,240.0,253.0,360.0,Y
576,612,LP002984,7583,0.0,187.0,360.0,Y
577,613,LP002990,4583,0.0,133.0,360.0,N

In [33]:
array = data.values
X = array[:, 2:6] 
Y = array[:, 6]

In [34]:
from sklearn import *
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X,Y,
test_size = 0.3, random_state=42)

In [35]:
from sklearn.ensemble import GradientBoostingClassifier

model = GradientBoostingClassifier()
model.fit(X_train, Y_train)

GradientBoostingClassifier()

In [36]:

predictions =  model.predict(X_test)
predictions, Y_test
from sklearn.metrics import accuracy_score
print("Accuracy", accuracy_score(Y_test, predictions))

Accuracy 0.6551724137931034

In [39]:
details = [[4583, 0.0, 133,360.0 ]]
outcome = model.predict(details)
print('you will be Loaned', outcome)

you will be Loaned ['Y']